# New whitelist-only version
# Ignore everything
*

# Include directories themselves and .gitignore
!*/
!/.gitignore

# Include our directories
!mymightypen/public_html/remote-letter/**
!mymightypen/public_html/wp-content/plugins/voicely-core/**
!mymightypen/public_html/russtests/**
!voicely/public_html/wp-content/plugins/voicely-core/**
!voicely/public_html/wp-content/plugins/fusion_cptt/**
!voicely/public_html/iframe-test/**
!voicely/public_html/wp-content/themes/Avada-child/**
!voicely/public_html/laravel-test/**
!voicely/public_html/misc_tests/**
!voicely/public_html/russtests/**
!voicely/public_html/ha-test/**
